lab02/dist/*
lab03/task1/*
lab03/task2/dist/*
lab03/task3/*
lab03/task4/*
lab03/task5/*
lab03/task6/*

lab04/dist/*
lab04/task1/*
lab04/task2/*
lab04/task3/*
lab04/task4/*
lab04/task5/*

lab05/dist/*
lab05/task01/*
lab05/task02/*
lab05/task03/*
lab05/task04/*
lab05/task05/*

lab06/dist/*
lab06/task01/*
lab06/task02/*
lab06/task03/*
lab06/task04/*
lab06/task05/*
lab06/task06/*

lab07/dist/*

lab11/dist/*
lab11/src/main1.c
lab11/src/main2.c
lab11/src/main3.c

lab13/dist/*
lab13/src/main1.c
lab13/src/main2.c
lab13/src/main3.c

lab12/dist/*

lab14/dist/*
lab14/input.txt
lab14/output.txt

lab15/agencies_input_exmple.txt
lab15/agencies.txt
lab15/agencies1.txt
lab15/generated_agencies.txt
lab15/legal_agencies.bin
lab15/agencies_output.txt
lab15/dist/*
lab15/*.txt
lab15/agencies_output.bin

lab17/agencies_input_exmple.txt
lab17/agencies.txt
lab17/agencies1.txt
lab17/generated_agencies.txt
lab17/legal_agencies.bin
lab17/marriage_agencies.txt
lab17/dist/*

lab18/dist/*

# lab19/*
lab19/data_files/*
lab19/dist/*

lab20/.vscode/*
lab20/dist/*

lab21/.vscode/*
lab21/dist/*
lab21/shared/*

lab22/*

lab23/dist

lab24/dist/*
lab24/data/*
lab24/src/ui.h
lab24/src/ui.cpp
lab24/src/agencies_dynamic_array.cpp
lab24/src/agencies_dynamic_array.h

lab25/dist/*
lab25/data/*


lab27/*

*Zone.Identifier
*.vscode
*.idea
dist/*
