lab02/dist/*
lab03/task1/*
lab03/task2/dist/*
lab03/task3/*
lab03/task4/*
lab03/task5/*
lab03/task6/*

lab04/dist/*
lab04/task1/*
lab04/task2/*
lab04/task3/*
lab04/task4/*
lab04/task5/*

lab05/dist/*
lab05/task01/*
lab05/task02/*
lab05/task03/*
lab05/task04/*
lab05/task05/*

lab06/dist/*
lab06/task01/*
lab06/task02/*
lab06/task03/*
lab06/task04/*
lab06/task05/*
lab06/task06/*

lab07/dist/*

lab11/dist/*
lab11/src/main1.c
lab11/src/main2.c
lab11/src/main3.c

lab13/dist/*
lab13/src/main1.c
lab13/src/main2.c
lab13/src/main3.c

lab12/dist/*

lab14/dist/*
lab14/input.txt
lab14/output.txt

lab15/agencies_input_exmple.txt
lab15/agencies.txt
lab15/agencies1.txt
lab15/generated_agencies.txt
lab15/legal_agencies.bin
lab15/marriage_agencies.txt
lab15/dist/*

*Zone.Identifier